<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Patiekalo informacija</title>
    <meta charset="utf-8">
    		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    		<link rel="stylesheet" href="jqueryui.css">		
		<style>
			.anuliuotas, .sanuliuotas {
				background-color: lightblue;
			}
			.ivykdytas, .sivykdytas {
				background-color: lightgreen;
			}
			table {
				border-collapse: colapse;
			}
			th {
				background-color: lightgreen;			
			}
			th, td {
				padding: 6px;
				border: 1px solid grey;
			}
		</style>
	    <script
		src="https://code.jquery.com/jquery-3.4.1.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous">
	    </script>
	    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>	    
	    <script src="crud.js"></script>
	    <script>
		$( document ).ready ( function() {
		
			var id;
		
			// let
			searchParams = new URLSearchParams(window.location.search);
		
			if ( searchParams.has( 'id' )  ) {
		
				id = searchParams.get( 'id' )
																										// alert ( 'ok, '  + id  );
				crudPatiekaloProduktu = function(
				
					fields
					, fields_names
					, url
					, field_data
					, fields_ids
					, id_html_saraso
					, id_html_dialog_formos
					, dialog_size_x
					, dialog_size_y
					, title_dialog_form
					, url_save_rec  
					, url_delete_rec
					, fields_edit
					, field_name				
				
				) {
					/*
					this.fields = fields;
					this.fields_names = fields_names;
					this.field_data = field_data;
					this.fields_ids =fields_ids;
					this.id_html_saraso = id_html_saraso;
					this.id_html_dialog_formos = id_html_dialog_formos;
					this.dialog_size_x = dialog_size_x;
					this.dialog_size_y = dialog_size_y;
					this.title_dialog_form =title_dialog_form;
					this.url_save_rec = url_save_rec;
					this.field_name = field_name;
					*/
					params = {
					
						fields: fields
						, fields_names: fields_names
						, url : url
						, field_data: field_data
						, fields_ids: fields_ids
						, id_html_saraso: id_html_saraso
						, id_html_dialog_formos: id_html_dialog_formos
						, dialog_size_x: dialog_size_x
						, dialog_size_y: dialog_size_y
						, title_dialog_form: title_dialog_form
						, url_save_rec: url_save_rec  
						, url_delete_rec: url_delete_rec
						, fields_edit: fields_edit
						, field_name: field_name
					}
					crud.call ( this, params );	// objektu surišimas pagal https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/prototype                (OS/eilute 1)  ..
					
					this.produktai = [];
					
					this.getProduktai = function() {
					
						alert( 'run getProduktai' );
						
						var i_am = this;
						
						$.ajax({
								url: "http://localhost:8080/restfull/lst-produktai" 
						}).done(
						
							function( data ) {
							
								i_am.produktai = data;
								i_am.initEmpty();
								i_am.refreshData();
							}
						);
					}
				}
				
				crudPatiekaloProduktu.prototype = Object.create( crud.prototype ); // new crud;			// (OS/eilute 2)
				
				crudPatiekaloProduktu.prototype.constructor = crudPatiekaloProduktu;				// (OS/eilute 3)
																				
				crudPatiekaloProduktu.prototype.htmDialogoEditFields = function ( i_am ) {			//  .. ir paveldejimas ir polimorfizmas pagal https://toranbillups.com/blog/archive/2013/05/15/Basic-javascript-inheritance-and-polymorphism/
				
																				// this.getProduktai();
					options = '';

					alert ( 'kiek produktu: ' + this.produktai.length );
					
					for ( i= 0; i < this.produktai.length; i++ ) {
																				//alert ( 'i, id, pav:' + i + ',' + this.produktai [ i ].id + ', ' + this.produktai [ i ].pav )

						options += '<option value="' + this.produktai [ i ].id + '">' + this.produktai [ i ].pav + '</option>';

					}
																				// alert( options );
				
					i_am.params.res_str += 	'<label for="produktu_selectas">Produktas</label>' +
							'<select type="text" name="id_prod" id="id_prod" class="text ui-widget-content ui-corner-all">' +
								options +
							'</select>';
				
					crud.prototype.htmDialogoEditFields ( i_am );
				}
																				
				crud_patiekalo_produktu = new crudPatiekaloProduktu ( 
					/**
					* 
					* pagal struktūra
					*	{ 
					*		"patiekalu_produktai": {
					*			"kiekis_produkto": ""
					*			,"produktai":
					*				[ "id","pav","mat_vnt", "mato_kiekis", "kaina", "kiekis_sand " ]
					*		}
					*	}
					*/
					[
						'kiekis_produkto'
						, 'produktai.id'
						, 'produktai.pav'
						, 'produktai.mat_vnt'
						, 'produktai.mato_kiekis'
						, 'produktai.kaina'
						, 'produktai.kiekis_sand'
					]
					, [  'kiekis<br>prod-<br>ukto', 'id', 'pav', 'mat.<br>vnt.', 'mat.<br>kiekis', 'kaina', 'kiekis<br>sand.' ]
					, 'http://localhost:8080/restfull/patiekalas?id=' + id
					, '.patiekalu_produktai'
					, [
						'kiekis_produkto'
						, 'id_prod'
						, 'pav'
						, 'mat_vnt'
						, 'mato_kiekis'
						, 'kaina'
						, 'kiekis_sand'
					]				
					, 'patiekalas'
					, ''
					, 300
					, 340
					, 'Ingradientas'
					,  'http://localhost:8080/restfull/patiekalo-produktas?id_pat=' + id
					,  'http://localhost:8080/restfull/salinti-produkta?id_pat=' + id
					, [ 'id_prod', 'kiekis_produkto' ]
					, 'produktai.pav'
				);

				crud_patiekalo_produktu.getProduktai();
			}
		});	
	</script>
</head>
<body>
	<div id="patiekalas">
	</div>
</body>
</html>